div.panel {
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.turnsContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(182, 146, 215, 0.715);
    font-size:xx-large;
}

div.scoresContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(182, 146, 215, 0.715);
    font-size:xx-large;
}

div.playersPieces {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.scoresContainer .playersPieces .piece {
    display: flex;
    justify-content: center;
    align-items: center;
}


div.playersPieces .piece_info {
    width: 70px;
}

@media screen and (max-width:576px) {
    div.panel {
        flex-direction: row;
        background-color:  rgb(182, 146, 215);
    }

    div.playersPieces .piece_info {
        width: 40px !important ;
    }
    div.scoresContainer {
        font-size: x-large;
    }
    div.turnsContainer {
        font-size: x-large;
    }
}