.board {

    display: grid;
    grid-template-rows: repeat(9,1fr);
    grid-template-columns: repeat(9,1fr);
    row-gap: 10px;
    width: 800px;
    background-color: rgb(11, 160, 108);
    flex-direction: column;
    padding: 20px;
}

.table {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    object-fit: cover;
    max-width: 100%;
}

.slot {
    padding:5px;
    margin: 0 10px 0 10px;
    aspect-ratio: 1;
    width:inherit;
    background-color:rgba(165, 42, 42, 0.408);
    border-radius: 50%;
}

.slot span { /* Coords */
    position:absolute;
    z-index: +10;
}

.piece {
    padding:5px;
    margin: 0 10px 0 10px;
    aspect-ratio: 1;
    width: inherit;
    border-radius: 50%;
    position: relative
}
.piece:hover {
    opacity: 0.9;
    cursor: pointer;
}
.move {
    padding: 5px;
    margin: 0 10px 0 10px;
    aspect-ratio: 1;
    position: relative;
    width: inherit;
    border-radius: 50%;
    background-color:rgba(165, 42, 42, 0.408); 
    /* background-color:rgba(165, 42, 42, 0.408); */
}
.move.show {
    background-color: rgba(56, 56, 226, 0.576);
    opacity: 0.7;
}

.moveParallel {
    padding: 5px;
    margin: 0 10px 0 10px;
    aspect-ratio: 1;
    position: relative;
    width: inherit;
    border-radius: 50%;
    background-color:rgba(165, 42, 42, 0.408);
    /* background-color:rgba(165, 42, 42, 0.408); */    
}

.moveParallel.show {
    background-color: rgb(252, 88, 0);
    opacity: 0.7;
}

.piece.attacked {
    background-color: red !important;
}

.piece div.attacked-b{
    aspect-ratio: 1;
    width: 90%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position:absolute;
    bottom:5%;
    left: 5%
}
.piece div.attacked-w{
    aspect-ratio: 1;
    width: 90%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position:absolute;
    bottom:5%;
    left: 5%
}

.piece.b {
    background-color: black;
}

.piece.b span {
    color: white;
    position: absolute;
    z-index: 1;
}

.piece.w span {
    position: absolute;
    z-index: 1;
}
.piece.w {
    background-color: white;
}

.piece.active {
    background-color: rgb(251, 0, 255);
}
.piece div.active-w{ /* This is the subelement. */
    width:90%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 5%;
    left:5%;
}
.piece div.active-b{ /* This is the subelement. */
    width:90%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 5%;
    left:5%;
}